{% extends "base.html" %}
{% block title %}Blog {% endblock %}
{% block content %}
    <div>
        <h1>Blog</h1>
    </div>

<div class="blog_post_list">
    {% for blog_post in blog_posts %}
    <div class="blog_post">
        <a href="/blog/{{blog_post.title}}">
            <div class="post_header">
                <div class="post_date">
                    {{ blog_post.published }}
                </div>
                <div class="post_title">
                    {{ blog_post.title }}
                </div>
            </div>
        <div class="post_description">
            {{ blog_post.description }}
        </div>
        </a>
    </div>
</div>
{% endfor %}


{% endblock %}