#header {
    background-color: #b0b0b0;
    overflow: hidden;
    margin-bottom: 1em;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header li {
    float: left;
    border-right: 1px solid white;
}

#header a:link, #header a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 1em;
}

#header a:hover {
    background-color: white;
}

#footer {
    background-color: #b0b0b0;
    overflow: hidden;
    margin-top: 1em;
    padding: 1em;
}

.blog_post {
    margin-top: 1em;
    margin-bottom: 1em;
}

.blog_post a:link, .blog_post a:visited {
    color: black;
    text-decoration: none;
}

.blog_post:hover {
    background-color: #e2e2e2;
}

.post_date {
    font-size: small;
}

.post_title {
    font-size: large;
    font-weight: bold;
}

.post_description {

}

.post-content {

}