{% extends "base.html" %}
{% block title %} Main {% endblock %}
{% block content_header %}
Hello!
{% endblock %}
{% block content %}

<p>
    This is my personal blog/tinkering page. I will present my ideas and things I do here.
</p>
<p>
    In blog I will try to write few words about things I do.<br>
    In experiments are things that I made and are 'working'.
</p>
<p>
    Code for this site is available on <a href="https://github.com/konriz/KoNotek">Github</a>.
</p>
<p>
    Feel free to explore.
</p>

{% endblock %}