{% extends "base.html" %}
{% block title %}
    Logs
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/log" method="post">
        <input type="text" name="log">
        <input type="submit" value="Log">
    </form>
    <a href="/log/clean">Clean</a>

    <hr>
    {% for log in logs %}
        <div class="log">
            <p>{{ log }}</p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}