{% extends "base.html" %}
{% block title %}Messages {% endblock %}
{% block content_header %}
    Messages
{% endblock %}
{% block content %}
    <div class="experiment_description">
        <p>Here you can try messaging system. Messages are saved to SQLite database.</p>
    </div>
    <div>
        <a href="/message">New message</a>
    </div>
    <hr>
    {% for message in messages %}
        <div class="message">
            <p>Id:
                <a href = "/message/{{message.id}}"> {{message.id}} </a>
            </p>
            <p>Title: <br> {{message.title}}</p>
            <p>Content: <br> {{message.content}}</p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
